astroid==2.7.3
autopep8==1.5.7
isort==5.9.3
lazy-object-proxy==1.6.0
mccabe==0.6.1
mido==1.2.10
platformdirs==2.3.0
pycodestyle==2.7.0
pylint==2.10.2
python-dotenv==0.19.0
python-rtmidi==1.4.9
toml==0.10.2
wrapt==1.12.1
